.submenu-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.submenu {
	/* visibility: hidden;
	opacity: 0; */
	overflow: hidden;
	position: fixed;
	left: -40rem;
	top: 0;
}
.submenu.entering,
.submenu.entered {
	/* Transition duration */
	transition: left 300ms ease-in-out;
	/* Final width */
	left: 0rem;

	/* visibility: visible;
	opacity: 1; */
}

.submenu.exiting,
.submenu.exited {
	/* Transition duration */
	transition: right 300ms ease-in-out;
	/* Final width */
	left: -40rem;

	/* visibility: hidden;
	opacity: 0; */
}
.dropdown {
	height: 0;
	background: rgb(var(--color-bg));
}
.submenu-list{
	background: rgb(var(--color-bg));
}
.dropdown.entering,
.dropdown.entered {
	/* Transition duration */
	transition: height 300ms ease-in-out;
	/* Final width */
	height: 60%;
}

.dropdown.exiting,
.dropdown.exited {
	/* Transition duration */
	transition: height 300ms ease-in-out;
	/* Final width */
	height: 0;
}
