@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--section-margin: 1rem;
	--primary-color: black;
	--font-family: "sans-serif";
	--color-bg: 243, 244, 245;
	--card-bg: 255, 255, 255, 0.45;
	--text-gray: rgb(68, 67, 67);
	--digital-category-bgc: #ade8f4;
	--fashion-category-bgc: #ffddd2;
	--beauty-category-bgc: #ddd92a;
	--sport-category-bgc: #ffd60a;
	--house-category-bgc: #ccd5ae;
	--toy-category-bgc: #cce3de;
	--stationery-category-bgc: #fbb13c;
	--foreground: black;
}
.dark {
	--color-bg: 15, 23, 42; /* #0f172a*/
	--color-bg-side: 30, 41, 59; /* #1e293b*/
	--digital-category-bgc: #0d4c76;
	--fashion-category-bgc: #892a19;
	--beauty-category-bgc: #6d305f;
	--sport-category-bgc: #650606;
	--house-category-bgc: #164c4b;
	--toy-category-bgc: #6d3d4b;
	--stationery-category-bgc: #6a4202;
	--primary-color: white;
	--card-bg: 58, 56, 56, 0.45;

	--color-text-base: 226, 232, 240; /*#e2e8f0*/
	--color-text-muted: 140, 154, 175; /*#8c9aaf*/
	--color-text-side: 255, 231, 231; /*#fff*/
}

html[dir="ltr"] {
	--font-family: "Poppins", "Roboto", "sans-serif";
}
[data-theme="dark"] body {
	--background: black;
	--foreground: white;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

/* body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
} */
body {
	background: rgb(var(--color-bg));
	color: var(--primary-color);
	font-family: var(--font-family);
}
h1 {
	font-size: 3rem;
	font-weight: 800;
	color: var(--primary-color);
}
h2 {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--primary-color);
}
h3 {
	font-size: 2rem;
	color: var(--primary-color);
}
h3 {
	font-size: 1.5rem !important;
	color: var(--primary-color);
}
p {
	font-size: 1rem !important;
	font-weight: 400;
	color: var(--text-gray);
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url("/fonts/woff/iranyekanwebbold.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebbold.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/woff/iranyekanwebthin.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebthin.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/woff/iranyekanweblight.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanweblight.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/woff/iranyekanwebregular.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/woff/iranyekanwebmedium.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebmedium.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/woff/iranyekanwebextrabold.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("/fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url("/fonts/woff/iranyekanwebblack.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebblack.ttf")
			format("truetype");
	font-display: swap;
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/woff/iranyekanwebextrablack.woff") format("woff"),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url("/fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
	font-display: swap;
}

.section {
	margin: 1rem;
}
.bold {
	font-weight: 700;
}
.primary {
	font-size: 1.5rem;
}
.glass_card {
	/* From https://css.glass */
	background: rgba(var(--card-bg));
	border-radius: 18px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.navbar,.dropdonw{
  background: rgb(var(--color-bg));
}
.slick-dots li button::before {
	font-size: 12px !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.45 !important;
}

.slick-prev:before,
.slick-next:before {
	opacity: 9 !important;
	content: "" !important;
}
.slick-prev,
.slick-next {
	color: var(--color-primary) !important;
}
.slick-track {
	display: flex !important;
}
.drop_category_title::before {
	position: absolute;
	content: "";
	height: 1rem;
	width: 0.2rem;
	background: red;
	left: -0.5rem;
	top: 0.5rem;
}
.slick-slide {
	/* margin-right: 2rem; Adjust the value to set the desired gap */
}
/* .side {
	transition: ease-in-out;
	animation: animate 0.2s linear;
}
@keyframes animate {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
} */
/* .fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-out;
} */
/* .anim {
	transition: 0.3s ease-in-out;
	animation: ani 0.2s linear;
}
@keyframes ani {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
	0% {
		width: 0%;
	}
} */
.slick-prev,
.slick-next {
	height: 100% !important;
	width: 80px !important;
}

.slick-prev:hover,
.slick-next:hover {
	/* From https://css.glass */
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.58);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.1px);
	-webkit-backdrop-filter: blur(4.1px);
	border: 1px solid rgba(255, 255, 255, 0.46);
}
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: rgb(var(--color-bg));
}

::-webkit-scrollbar-thumb {
	background-color: #a71b4a;
	border-radius: 100vw;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	h1 {
		font-size: 3.5rem;
		color: var(--primary-color);
	}
	h2 {
		font-size: 1.5rem;
		color: var(--primary-color);
	}
	h3 {
		font-size: 2rem;
		color: var(--primary-color);
	}
	p {
		font-size: 1.2rem;

		color: var(--primary-color);
	}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
	h1 {
		font-size: 3.8rem;
		color: var(--primary-color);
	}
	h2 {
		font-size: 1.8rem;
		color: var(--primary-color);
	}
	h3 {
		font-size: 2.3rem;
		color: var(--primary-color);
	}
	p {
		font-size: 1.5rem;

		color: var(--primary-color);
	}
}

